.thread {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subTitle {
  font-size: 40px;
}

table {
  border-collapse: collapse; /* セルの線を重ねる */
}

th,
td {
  border: solid 1px #565656; /* 枠線指定 */
  padding: 10px; /* 余白指定 */
  width: 400px;
  background-color: #fff;
  font-size: 20px;
}
